

body{
color: #34383D;
line-height: 21px;
font-family: 'Roboto-Regular';
}
.container{
  padding: 0 15px;
  max-width: 1680px;
  margin: 0 auto;
}
a{
  color: #34383D; 
  font-size: 18px;
  font-family: 'Montserrat-Bold';
}