@media(max-width:1280px){
  .header{
    &__top{
      &-first{
        &-left{
          z-index: 2;
          .menu{

          }
          &-welcome{
            display: none;
          }
        }
        &-right{
          z-index: 2;
        }
      }
      &-two{
        .user-nav{
          z-index: 2;
        }
        &-left{
          .logo{
            z-index: 2;
          }
        .menu{
          margin: 0 auto;
          &__btn{
            display: block;
            width: 100%;
            z-index: 2;
            height: 100%;
            background-color: transparent;
            border: 0;
            position: relative;
            margin: 0 auto;
            cursor: pointer;
            left: 200px;
            }
          &__list{
            position: absolute;
            left: 0;
            padding: 190px 0 15px;
            right: 0;
            top: 0;
            padding-top: 190px;
            background-color: #ccc;
            display: block;
            transform: translateY(-200%);
            transition: all .3s;
            &.menu__list--active{
              transform: translateY(0%);
            }
            // &-link{
            //   ::before{
            //     display: block;
            //   &:hover{
            //     display: none;
            //     }
            //   }
            // }
            &-item{
              padding: 15px 0;
              text-align: center;

              &:first-child{

                &:hover{
                  }
                &::before{
                width: 0;
                height: 0;
                }
              }
            }
          }
          }
        }
      }
    }
  }
  .about{
    &__img{
      display: none;
    }
    &__info{
      display: block;
      margin: 0 auto;
      text-align: center;
      &-us{
        &::before{
          width: 220px;
          left: 140px;
        }
      }
    }
  }
  .product{
    &__box{
      &-item{
        &-link{
          padding: 14px 25px;
        }
      }
    }
  }
  .special{
    &__text{

    }
    &__clock{
      display: block;
      &-item{
        margin: 0 auto 56px;
      }
    }
  }
  .new__blog{
    &-sofa{
      &-box{
        display: block;
        height: 370px;
        top: -20px;
      }
      &-item{
        padding-top: 40px;
        margin: 0 auto 20px;
      }
    }
    &-our{
      &-box{
        gap: 20px;
      }
    }
  }
  .people{
    &__box{
      display: block;
    }
    &__item{
      margin: 0 auto;
      &-text{
        padding-top: 100px;
      }
    
    }
    &__item+.people__item{
      margin-left: auto;
    }
    
  }
  .wooden{
    &__box{
      grid-template-columns: repeat(2, 1fr);
    }
    &__item{
      height: 590px;
      &-img{
        max-height: 300px;
        height: 100%;
      }
      &-wrapper{
        display: block;
        &-price{
          margin-bottom: 20px;
        }
        &-link{
          display: block;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .subscribe{
    &__inner{
      padding: 100px 0 300px 0;
      margin: 0 auto;
      text-align: center;
      }
      &__form{
        display: flex;
        justify-content: center;
          &-button{
          }
        &-wrapper{
          max-width: 610px;
          width: 100%;
      }
    }
  }
  .footer{
    .logo{
      margin: 0 auto;
    }
    &__inner{
      display: block;
    }
    &__logo{
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
      &-text{
        margin: 20px auto 25px;
      }
    }
    &__box{
      justify-content: space-around;
    }
    &__item{
      margin: 0 auto;
    }
  }
}




@media(max-width:728px){
    .header{
      padding: 20px 0 100px;
    &__top{
      &-first{
        &-left{
          display: none;
        }
        &-right{
          margin: 0 auto;
        }
      }
      &-two{
        &-left{
        .menu{
          &__btn{
            left: 50px;
            }
          &__list{
          }
          }
        }
      }
    }
    &__info{
      margin-top: 100px;
      &-title{
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
  .about{
    &__info{
      &-title{
      font-size: 40px;
      line-height: 75px;
      }
    }
  }
  .product{
    margin: 50px 0 100px;
  }
  .new__blog{
    &-our{
      &-box{
        grid-template-columns: (repeat(1, 1fr));
      }
    }
  }
  .wooden{
    &__item{
      &-img{
      height: 250px;
      width: 400px;
      }
    }
    &__box{
      grid-template-columns:repeat(1, 1fr);
    }
  }
  .subscribe{
    &__text{
          margin: 0 5px 50px ;
    }
    &__form{
      &-wrapper{
        display: block;
      }
      &-input{
        padding: 20px 40px;
        margin-bottom: 20px;
      }
      &-button{
        position: relative;
        left: 0;
        top: 0;
      }
    }
  }
  .footer{
    &__box{
      display: block;
    }
    &__logo{
      &-text{
        text-align: justify;
      }
    }
    &__item{
      margin: 0 auto;
      &+&{
        margin-left: auto;
      }
    }
  }
}



@media(max-width:490px){
  .header{
    &__top{
      &-first{
        &-left{
          display: none;
        }
        &-right{
          display: block;
          &-currency{
            display: block;
            margin-bottom: 30px;
          }
          &-account{
            margin: 0 auto;
          }
        }
      }
      &-two{
        display: block;
        .user-nav{
          z-index: -1;
        }
        &-left{
          margin-bottom: 20px;
        .menu{
          &__btn{
            left: 0px;
            }
          &__list{
            padding-top: 250px;
          }
          }
        }
      }
    }
    &__info{
      margin-top: 50px;
      &-title{
      }
    }
  }
  .about{
    &__info{
      &-us{
        font-size: 25px;
        &::before{
          content: none;
        }
      }
      &-title{
        font-size: 30px;
        line-height: 50px;
      }
    }
  }
  .product{
    margin: 50px 0 50px;
  }
  .special{
    &__title{
      font-size: 25px;
    }
  }
  .our{
    &__star{
      &-feature{
        display: none;
      }
    }
  }
  .new__blog{
    &-our{
      &-title{
    font-size: 25px;
      }
      &-text{
        font-size: 20px;
      }
      &-item{
        height: 300px;
        background-size: cover;
        &-inner{
          padding-left: 25px;
        }
        &-wrapper{
          display: block;
        }
        &-september{
          margin-bottom: 10px;
        }
        &-title{
          font-size: 30px;
          line-height: 35px;
        }
      }
    }
  }
  .people{
    &__box{
      display: block;
    }
    &__item{
      position: inherit;
      &-text{
        padding-top: 20px;
      }
      &-img{
        display: none;
      }
    }
  }
}
