@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background-image: url('/images/header/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 228px;
  vertical-align: center;
  &__top{
    display: block;
    &-first{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-left{
        display: flex;
        &-number{
          display: flex;
          justify-content: space-between;
          &-text{
            margin-left: 10px;
            max-width: 175px;
            width: 100%;
            font-size: 22px;
          white-space: nowrap;
            line-height: 26px;
          }
        }
        &-welcome{
          font-size: 22px;
          line-height: 26px;
          max-width: 265px;
          width: 100%;
          white-space: nowrap;
          margin-left: 60px;
        }
          }
          &-right{
            display: flex;
            &-currency{
              padding: 16px 23px;
              border: 2px solid #CDA861;
              border-radius: 50px;
              font-size: 22px;
              line-height: 27px;
              max-width: 220px;
              background-color: #CDA861;
              width: 100%;
              white-space: nowrap;
              &:hover{
              color: #fff;
              background-color: #5d646c;
              }
            }
            &-account{
              border: 2px solid #CDA861;
              font-family: 'Montserrat-Bold';
              border-radius: 50px;
              font-size: 22px;
              line-height: 27px;
              background-color: #CDA861;
              width: 220px;
              width: 100%;
              padding: 16px 23px;
              white-space: nowrap;
              margin-left: 20px;
              &:hover{
              color: #fff;
              background-color: #5d646c;
              }
            }
          }
    }
    &-two{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      &-left{
        display: flex;
        align-items: center;
        .menu{
          &__btn{
            display: none;
          }
          &__list{
          display: flex;

          &-item{
              margin-left: 45px;
            
            color: #34383d;
            opacity: 60%;
            position: relative;
            &:hover{
                opacity: 1;
            }
            &:first-child{
              opacity: 1;
              &:hover{
                content: none;
              }
              &::before{
                content: "";
                position: absolute;
                width: 40px;
                height: 3px;
                top: 30px;
                background-image: url('/images/header/line.jpg');
                }
              }
            }
            &-link{
            font-size: 22px;
            line-height: 26px;

            }
          }
        }
      }
        .user-nav{
          display: flex;
          &__link{
          &:last-child{
            margin-left: 45px;
          }
          &:hover{
            & path{
            stroke:#fff; 

            }
          }
          }
        }
    }
  }
  &__info{
    margin-top: 200px;
    &-title{
      max-width: 660px;
      font-family: 'Montserrat-SemiBold';
      font-size: 76px;
      line-height: 93px;
      & span{
        color: rgba(205, 168, 97, 1);
      }
    }
    &-text{
      margin-top: 30px;
      font-family: 'Roboto-Medium';
      max-width: 490px;
      font-size: 22px;
      line-height: 26px;
    }
    &-link{
      margin-top: 60px;
      height: 60px;
      width: 220px;
      border-radius: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;


      background-color: #CDA861;
      &:hover{
        color: #fff;
        background-color: #34383D;
      }
      &-text{
        margin: 0 auto;
        font-size: 22px;
        line-height: 27px;
        font-family: 'Montserrat-Bold';
      }
    }
  }
}

.about{
  &__inner{
  margin: 80px auto;
  display: flex;
  background-image: url('/images/about/chair.svg');
  background-repeat: no-repeat;
  background-position: right center;
  }
  &__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    position: relative;
    &::before{
    position: absolute;
    content: "";
    background-image: url('/images/about/group.svg');
    width: 195px;
    height: 195px;
    bottom: -80px;
    left: -80px;
    }
  }
  &__info{
    position: relative;
    &-us{
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 32px;
      font-family: 'Montserrat-SemiBold';
      position: relative;
      padding-bottom: 8px;
    }
    &-title{
      max-width: 461px;
      font-size: 76px;
      line-height: 93px;
      margin-bottom: 30px;
      font-family: 'Montserrat-SemiBold';
    }
    &-text{
      max-width: 513px;
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 34px;
      font-family: 'Roboto-Medium';
    }
    &-link{
      border-radius: 50px;
      padding: 16px 23px;
      max-width: 220px;
      width: 100%;
      font-size: 22px;
      line-height: 27px;
  font-family: 'Montserrat-Bold';
      background-color: #CDA861;
      &:hover{
        background-color: #5d646c;
        color: #fff;
      }
    }
  }
}

.product{
  margin: 80px 0 160px;
  
  &__title{
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 32px;
    font-family: 'Montserrat-SemiBold';
    text-align: center;

  }
  &__find{
    font-size: 22px;
    line-height: 26px;
      font-family: 'Roboto-Medium';
      margin-bottom: 70px;
      text-align: center;
  }
  &__box{
    display: flex;
        margin: 0 auto;
    justify-content: center;
      &-item{
        .slick-slide {
        position: relative;
        }
      position: relative;
        top: 37px;
      align-items: center;
      max-width: 257px;
      height: 400px;
      width: 100%;
      text-align: center;
      &-wrapper{
        background-position: bottom center;
        background-color: #F2F1F1;
        border-radius: 30px;
        height: 150px;
        &:hover{
        background-color:#CDA861;
        }
        & img{
          position: relative;
          margin: 0 auto 0;
          top: -37px;
        }
        &-title{
        padding-bottom: 15px;
        font-size: 24px;
        line-height: 28px;
        font-family: 'Roboto-Medium';
        margin-bottom: 22px;
        }
      }
      &-price{
        font-size: 26px;
        line-height: 32px;
        font-family: 'Montserrat-Bold';
        margin-bottom: 17px;
      }
      &-text{
  font-family: 'Roboto-Regular';
      font-size: 18px;
      line-height: 21px;
      opacity: 80%;
      margin-bottom: 40px;
      }
      &-link{
        font-size: 18px;
        line-height: 22px;
        padding: 14px 45px;
        border-radius: 50px;
        font-family: 'Montserrat-Bold';
        background-color: #F2F1F1;
        border:#CDA861 2px solid;
        &:hover{
        background-color: #CDA861;
        }
      }
    }
  }
}

.special{
  margin-bottom: 160px;
  &__inner{
    padding-top: 60px;
    background-image: url('/images/special/special-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px auto auto;
    text-align: center;
    background-position: center;
    height: 767px;
    margin: 0 auto;
    
  }
  &__title{
    font-size: 30px;
    line-height: 37px;
    font-family: 'Montserrat-SemiBold';
    color: #000;
    margin-bottom: 36px;
    text-align: center;
  }
  &__clock{
    display: flex;
    justify-content: space-between;
    max-width: 504px;
    margin: 36px auto 57px;
    &-item{
      border: 1px solid #fff;
      border-radius: 50%;
      width: 66px;
      position: relative;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-size: 24px;
      line-height: 29px;
      color: #000;
      font-family: 'Montserrat-SemiBoldItalic';
    }
  }
  &__text{
    position: absolute;
    bottom: -40px;
    left: 0px;
  }
  &__link{
    padding: 11px 41px;
        display: inline-block;
    border-radius: 50px;
    font-size: 22px;
    line-height: 27px;
    border: 2px solid #CDA861;
    background-color: #CDA861;
    &:hover{
      background-color: #34383D;
      border: 2px solid #CDA861;
      color: #cda861;
    }
  }
}

.our__star{
  margin-bottom: 50px;
  &-title{
    font-size: 30px;
    line-height: 37px;
    font-family: 'Montserrat-SemiBold';
    color: #34383D;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  &-text{
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 26px;
    color: #34383D;
    font-family: 'Roboto-Medium';
    text-align: center;
  }
  &-feature{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto 50px;
    &-wrapper{
    border-radius: 50%;
    border: 1px solid #34383D;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    &-text{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      color: #34383D;
      background-color: rgba(52, 56, 61, 0.2);
      font-family: 'Roboto-Medium';
      &:hover{
        background-color: #CDA861;
      }
      &-one{
        background-color:#CDA861;
      }
    }
  }
  &-box{
    display: flex;
    justify-content: center;
  }
  &-item{
    width: 360px;
    border-radius: 200px 200px 20px 20px  ;
    height: 480px;
    border: 1px dashed rgba(52, 56, 61, 0.5) ;
    &-img{
      &-inner{
        margin-top: 30px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    & img {
      max-width: 100%;
      max-height: 100%;
      max-height: 310px;
      display: flex;
      justify-content: center;
      margin: 36px auto 25px;
    }
    &-wrapper{
      display: flex;
      justify-content: space-around;
      margin-bottom: 32px;
    }
    &-text{
      font-size: 22px;
      line-height: 26px;
      color: #34383D;
      font-family: 'Roboto-Medium';
      margin-left: 10px;
      & span{
        margin-left: 40px;
        svg{
          width: 19px;
          height: 18px;
        }
      }
    }
    &-cart{
      &-wrapper{
        width: 47px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height:47px;
      background-color:#CDA861;
      border-radius: 50%;
      cursor: pointer;
      & img{
        margin: 0;
      }
      }
    }
    &-cart{
      width: 25px;
      height: 25px;
    }
    &-price{
      margin-bottom: 36px;
      font-size: 30px;
      line-height: 35px;
      font-family: 'Roboto-Medium';
      color: #000;
      text-align: center;
    }
  }
}


.new__blog{
  margin: 160px 0 50px;
  &-sofa{
    max-height: 415px;
    margin: 0 auto;
    &-box{
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      background-color: rgba(205, 168, 97, 0.19);
      max-width: 1680px;
      height: 310px;
      top: -35px;
      margin-bottom: 160px;
    }
      &-item{
          color: #000;
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        height: 100px;
        width: 100%;
        &-title{
          margin: 10px 0 8px;
          font-size: 20px;
          line-height: 23px;
          font-family: 'Roboto-Medium';
        }
        &-text{
          font-size: 14px;
          line-height: 16px;
          font-family: 'Roboto-Regular';
        }
      }
  }
  &-our{
    &-title{
      font-size: 30px;
      line-height: 36px;
      color: #34383D;
      font-family: 'Montserrat-SemiBold';
      text-align: center;
      margin-bottom: 32px;
    }
    &-text{
      font-size: 22px;
      line-height: 26px;
      color: #34383D;
      text-align: center;
      margin-bottom: 30px;
    }
    &-box{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }
    &-item{
      max-width: 585px;
      height: 388px;
      width: 100%;
      border-radius: 50px;
      background-repeat: no-repeat;
      margin: 0 auto;
      position: relative;
      background-image: url('/images/new__blog/home.png');
      &-two{
        background-image: url('/images/new__blog/home-two.png');
      }
      &-three{
        background-image: url('/images/new__blog/home-three.png');
      }
      &-four{
        background-image: url('/images/new__blog/home-four.png');
      }
      &-inner{
        position: absolute;
        bottom: 20px;
        padding-left: 50px;
        color: #fff;
      }
      &-wrapper{
        display: flex;
        font-size: 14px;
        line-height: 16px;
        font-family: 'Roboto-Medium';
        margin-bottom: 11px;
        & svg{
          margin-right: 5px;
        }
      }
      &-september{
        margin-right: 15px;
      }
      &-title{
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 5px;
      }
      &-text{
        font-size: 20px;
        line-height: 23px;
        &-link{
          color: #fff;
          &:hover{
            color: #CDA861;
          }
        }
      }
    }
  }
}

.people{
  &__inner{
  padding: 80px 0;
  background-color: #F5EEE1;
  background-image: url('/images/people/people-bg.png');
  background-size: cover;

  }
  &__title{
    font-size: 30px;
    line-height: 37px;

    color: #34383D;
    text-align: center;
    margin: 0 auto 92px;
  }
  &__box{
    display: flex;
    justify-content: space-between;
  }
  &__item + &__item{
    margin-left: 30px;
  }
  &__item{
    max-width: 540px;
    height: 345px;
    background-color: #F8F7F7;
    position: relative;
    font-size: 18px;
    line-height: 21px;
    border-radius: 18px;
      letter-spacing: 9%;

    & img{
      position: absolute;
      top: -50px;
      left: 200px;
    }
    &-text{
      
      margin: 100px 0 50px;
      max-width: 498px;
      width: 100%;
      font-family: 'Roboto-Regular';
      opacity: 80%;
      padding: 0 21px;
    }
    &-name{
      font-family: 'Roboto-Bold';
    }
    &-name,&-speciality{
      font-size: 22px;
      line-height: 26px;
      color: #000;
      margin-bottom: 4px;
      text-align: center;
    }
    &-speciality{
      font-family: 'Roboto-Regular';
      margin-bottom: auto;
    }
  }
}

.wooden{
  margin: 80px 0;
  &__title{
    font-size: 30px;
    line-height: 37px;
    color:#34383D;
    font-family: 'Montserrat-SemiBold';
    margin-bottom: 32px;
    text-align: center;
        }
    &__text{
      font-size: 22px;
      line-height: 26px;
      color: #34383D;
      font-family: 'Roboto-Medium';
      text-align: center;
      margin-bottom: 30px;
    }
    &__box{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      }
      &__item{
        max-width: 400px;
        height: 500px;
      margin: 0 auto;

          color: #34383D;

        &-img{
          max-width: 100%;
          height: 300px;
          margin-bottom: 30px;
        }
        &-title{
          font-size: 20px;
          line-height: 23px;
          font-family: 'Roboto-Bold';
          margin-bottom: 15px;
        }
        &-text{
          font-size: 24px;
          line-height: 28px;
          font-family: 'Roboto-Regular';
          margin-bottom: 15px;
        }
        &-wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-text{
          max-width: 200px;
            font-size: 32px;
            line-height: 38px;
          font-family: 'Roboto-Regular';
            color: #CDA861;
            & span{
              color: #34383D;
          font-family: 'Roboto-Bold';
              margin-left: 10px;
            }
          }
          &-link{
            font-size: 18px;
            color: #34383D;
            line-height: 100%;
            height: 40px;
            font-family: 'Montserrat-SemiBold';
            padding: 9px 32px;
            background-color: #CDA861;
            display: inline-block;
            border-radius: 50px;
            &:hover{
        background-color: #5d646c;
        color: #CDA861;
      }
          }
      }
  }
}

.subscribe{
  padding-top: 80px;
  background-color: #F5EEE1;
  &__inner{
    
    background-image: url('/images/subscribe.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 50px;
    background-position: center;
    position: relative;
    width: 100%;
    padding: 100px 0 300px 140px;
    height: 697px;
  }
  &__title{
    margin-bottom: 32px;
    font-family: 'Montserrat-SemiBold';
    font-size: 30px;
    line-height: 37px;
    color: #34383D;
  }
  &__text{
    font-size: 22px;
    line-height: 26px;
    color: #000;
    margin: 0 0 80px 55px;
    font-family: 'Roboto-Regular';
  }
  &__form{ 
    display: block;
    &-wrapper{
    display: flex;
    position: relative;
    }
    &-input{
    border-radius: 50px;
      padding: 20px 245px 20px 40px;
      max-width: 610px;
      height: 80px;
      width: 100%;
      font-size: 22px;
      line-height: 27px;
      color: #000;
      font-family: 'Montserrat-Regular';  
      & ::placeholder{
        
      }
    }
    &-button{
      position: absolute;
      font-size: 22px;
      border-radius: 50px;
      line-height: 27px;
      height: 60px;
      padding: 16px 36px;
      font-family: 'Montserrat-Bold';
      color: #34383D;
      top: 10px;
      border: 1px solid #CDA861;
      cursor: pointer;
      left: 390px;
      background-color: #CDA861;
      &:hover{
        background-color: #5d646c;
        color: #CDA861;
      }
    }
    
  }
}

.footer{
  background-color: #CDA861;
  padding: 80px 0 0px;

  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
    }
    &__logo{
      &-text{
        margin: 20px 0 25px;
        max-width: 607px;
        font-size: 22px;
        line-height: 26px;
        color: #34383D;
      }
      &-icons{
        line-height: 50px;
        &-link{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        }
    & svg{
    width: 30px;
    height: 30px;
      }   
    }
  }
  &__box{
    display: flex;
  }
  &__item{
    max-width: 190px;
    display: block;
    &:last-child{
      margin-left: 140px;
    }
    &-title{
      font-size: 26px;
      line-height: 32px;
      color: #34383D;
      margin-bottom: 32px;
      font-family: 'Montserrat-Bold';
      position: relative;
      display: inline-block;
      white-space:nowrap;
      left: -40px;
    }
    &-list{
      position: relative;
      padding-left: 40px;

    }
    &-text{
      font-size: 22px;
      line-height: 27px;
      color: #34383D;
      font-family: 'Montserrat-Medium';
      margin-bottom: 20px;
      list-style-type:disc;
    }
  }
  &__copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #34383D;
    &-text{
      color: #CDA861;
      margin-left: 15px;
      font-size: 18px;
      line-height: 21px;
      font-family: 'Roboto-Regular';

    }
  }
}






@import 'media';












